<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ethan Sledzinski's Portfiolio Website</title>
        <link rel="stylesheet" href="../public/css/portfiolio_style.css">
        <link rel="shortcut icon" href="../public/media/img/portfoliopng.png" type="png">
        <script src="https://kit.fontawesome.com/6f5f524506.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../public/js/trivia.js" defer></script>  
        <script src="../public/js/blog.js" defer></script> 
    </head>
<body>
    <header id="page_header">
        <nav>
            <menu class="menu">
                <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
                <a href="/my_fun_facts"> <i class="fas fa-book"></i> MyFun Facts</a>
                <a href="/my_resume"><i class="fas fa-bell"></i> My Resume</a>
                <a href="/my_blog">Blog</a>
                <a class = "active" href="/my_trivia">Trivia</a>
            </menu>
        </nav>
    </header>
    <main>
        <h1 class="coolclass">Trivia Questions</h1>
        <div id="question" class="coolClass"></div>
        <button id="submit">Get Results</button>
        <br><br>
        <h1 class="coolclass">Results</h1>
        <div class="coolClass" id="results">
            
        </div>
        <div class="conta">
            <label for="commentZone" id="label">Click To --></label>
            <button id="lComment" >Leave A Comment</button>
            <textarea id="commentZone" rows="4"></textarea>
            <button id="pComments">Post Comment</button>
            <div id="usComments">
            </div>
        </div>
     
    </main>
    <footer>
        <hr>
        &copy; 2021, Ethan Sledzinski, esledzinski@oakland.edu 
        <br>
        <a href="https://twitter.com/Ethan_Sled">
            Twitter: <i class="fab fa-twitter fa-2x"></i></a>
        <br>
        <a href="#page_header"><button type="menu">Return To The Top Of The Page</button></a>
    </footer>
</body> 
</html>